/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 21, 2017, 7:05:14 PM
    Author     : Thomas
*/

#contact-picture {
    background-image: url("../assets/keyboardlow.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
}

#contact-link {
    text-decoration: underline;
}

h2 {
    padding-top: 40px;
}

a {
    color: black;
}

body {
    min-width: 950px;
    width: auto !important;
    width: 950px;
}