/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 21, 2017, 7:04:46 PM
    Author     : Thomas
*/
#home-picture {
    background-image: url("../assets/capacitorlow.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
}

#index-link {
    text-decoration: underline;
}

.thumbnail, a.links {
    padding: 0px 2px 0px 0px;
    display: inline;
}

a.links, a {
    color: #3399ff;
    font-size: 16px;
    font-weight: bold;
}

a.links:link { 
    text-decoration: none;
}

a.links:visited, a {
    text-decoration: none;
}

a.links:hover {
    text-decoration: none;
}

a.links:active {
    text-decoration: none;
}

body {
    min-width: 600px;
    width: auto !important;
    width: 600px;
}