/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 21, 2017, 7:04:55 PM
    Author     : Thomas
*/

#projects-picture {
    background-image: url("../assets/code2.jpeg");
    background-position: center;
    background-size: cover;
    text-align: center;
}

#projects-link {
    text-decoration: underline;
}

h3 {
    padding-top: 40px;
}
a {
    color: lightslategray
}

a:link {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}

img {
    display: block;
    margin: 0 auto;
    border: solid thin;
}

figcaption {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

#xbee, #arduino{
    border: none;
}