/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 21, 2017, 7:05:03 PM
    Author     : Thomas
*/

#resume-picture {
    background-image: url("../assets/circuitlow.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
}

#resume-link {
    text-decoration: underline;
}

object {
    padding-top: 40px;
    width: 900px;
    height: 850px;
}

body {
    min-width: 950px;
    width: auto !important;
    width: 950px;
}