/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 21, 2017, 9:31:45 AM
    Author     : Thomas
*/

.cover {
    background-image: url("../assets/capacitor.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    
}
.name-heading {
    padding: 10% 0% 1% 0%;
    text-align: center;
    font-size: 400%;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.04em;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.link-heading {
    padding-bottom: 10%;
    text-transform: uppercase;
    font-size: 18px;
}
h1, a {
    /*text-align: center;*/
    font-family: sans-serif;
}

h2 {
    font-family: arial;
    padding: 2% 5%;
}
a {
    padding: 0 15px;
    color: white;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline dashed;
}

a:active {
    text-decoration: underline;
}


p {
    padding: 0% 5%;
    font-family: sans-serif;
}