/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 21, 2017, 9:31:45 AM
    Author     : Thomas
*/

* {
    border: solid thin;
}

.name-heading {
    padding: 10% 0% 1% 0%;
    text-align: center;
    font-size: 400%;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.04em;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.link-heading {
    padding-bottom: 10%;
    text-transform: uppercase;
    font-size: 18px;
}
h1, a {
    /*text-align: center;*/
    font-family: sans-serif;
}

h2 {
    font-family: arial;
}

.subtext {
    margin: 1px auto;
    padding: 0% 5%;
    font-family: sans-serif;
    max-width: 1000px;
    line-height: 1.3em;
    color: #666666
}

a.link-heading {
    padding: 0 15px;
    color: white;
}

a.link-heading:link {
    text-decoration: none;
}

a.link-heading:visited {
    text-decoration: none;
}

a.link-heading:hover {
    text-decoration: underline dashed;
}

a.link-heading:active {
    text-decoration: underline;
}

.figcaption {
    text-align: center;
    font-family: sans-serif;
}



